@import "/home/chris/.config/waybar/material.css";

#entry {
border-radius: 5px;
padding: 5px 2px 5px 2px;
margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: @base04;
background-color: @base00;
padding: 7px;
}
 
#text:selected {
color: @base07;
}
 
#window {
animation-name: fadeIn;
animation-duration: 0.4s;
background-color: transparent;
font-family: Ubuntu Mono;
/* font-size:14; */
}

#input {
border: none;
background-color: @base10;
border-radius: 5px;
margin: 4px 4px 8px 4px;
padding: 8px;
}

#inner-box {
color: @base04;
border-radius: 5px;
/* margin-right: 180px; */
}

#outer-box {
background-color: @base00;
border-radius: 10px;
border: 1px solid #474747;
padding: 10px;
box-shadow: 0px 0px 3px 1px  #0F0F0F;
margin: 25px;
}

#scroll {
}

#text {
color: @base11;
background-color: transparent;
} 

#img {
  background-color: transparent;
}
